.team{
    color: #F8B201;
    font-weight: 700;
    font-size: 20px;
}

.team:hover {
    color: #85BB65;
}

.teamSelect {
    color: white;
    padding-left: 15px;
    
}

.dropdownContainer {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}