.team{
    color: #F8B201;
    font-weight: 700;
    font-size: 20px;
}

.team:hover {
    color: #85BB65;
}

.teamSelect {
    color: white;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    
}

.dropdownContainer {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}

.image {
    max-width: 25px;
    max-height: 25px;
    padding-left: 2px;
}

.dropDownTeam {
    padding-bottom: 7px;
}

.teamSelect :hover {
    color: #F8B201;
    cursor: pointer;
}
